<div class="section padding-top-big pb-4  background-gradient-light" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-wrap text-center">
					<div class="back-title strong">faq</div>
					<h3 class="text-white">Questions and Answers</h3>
					<p class="color-pr">Listed questions and answers, all supposed to be commonly asked in some context, and pertaining to a particular topic.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.3s">
				<div id="accordion" class="accordion-style">
					<div class="card">
						<div class="card-header" id="headingOne">
							<a class="text-white background-light-blue-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								What exactly is your token?
							</a>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								<h6 class="text-white">What exactly is your token?</h6>
								<p class="text-grey">Token is a community of people who want to mine cryptocurrency profitably by combining resources to achieve savings on equipment and ultra-low-cost electricity.</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingTwo">
							<a class="collapsed text-white background-light-blue-2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								What’s your overall strategy?
							</a>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								<h6 class="text-white">What’s your overall strategy?</h6>
								<p class="text-grey">Our strategy is very straightforward: 1) raise funds, 2) leverage those funds to procure the best mining equipment and other necessities at the lowest possible prices, 3) set up the hardware in a suitable facility; 4) start mining; 5) distribute what we mine.</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingThree">
							<a class="collapsed text-white background-light-blue-2" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								What is bitcoin?
							</a>
						</div>
						<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								<h6 class="text-white">What is bitcoin?</h6>
								<p class="text-grey">Bitcoin is a cryptocurrency and worldwide payment system. It is the first decentralised digital currency, as the system works without a central bank or single administrator.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.5s">
				<div id="accordion-snd" class="accordion-style">
					<div class="card">
						<div class="card-header" id="headingFour">
							<a class="text-white background-light-blue-2" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
								What is blockchain?
							</a>
						</div>

						<div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion-snd">
							<div class="card-body">
								<h6 class="text-white">What is blockchain?</h6>
								<p class="text-grey">A blockchain is the technology on which cryptocurrency is based. A blockchain is basically a continuously growing list of records called blocks that are linked and secured using cryptography. </p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingFive">
							<a class="collapsed text-white background-light-blue-2" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								What is cryptocurrency?
							</a>
						</div>
						<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion-snd">
							<div class="card-body">
								<h6 class="text-white">What is cryptocurrency?</h6>
								<p class="text-grey">A cryptocurrency is a digital asset designed to work as a medium of exchange that uses cryptography to secure its transactions, to control the creation of additional units, and to verify the transfer of assets.</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingSix">
							<a class="collapsed text-white background-light-blue-2" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								How much should I invest?
							</a>
						</div>
						<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion-snd">
							<div class="card-body">
								<h6 class="text-white">How much should I invest?</h6>
								<p class="text-grey">Cryptocurrency mining is not without risk, and we are open and candid about those risks in our White Paper.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
