  <div class="section full-height height-auto-lg hide-over" style="background: #00005d;">
    <div class="hero-center-wrap relative-on-lg">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-6 text-center text-lg-left align-self-center z-bigger">
  					<h2 class="text-white">Somos astronautas dispuestos a llevar tu negocio al espacio digital</h2>
  					<a class="btn btn-primary mx-0 js-tilt" href="#idea" role="button" data-tilt-perspective="300" data-tilt-speed="700" data-tilt-max="24"><span>¡Quiero despegar mi negocio!</span></a>
  				</div>
  				<div class="col-lg-6 mt-5 mt-lg-0">
  					<div class="img-wrap text-center">
  						<img class="bounceimg astronauta" src="assets/img/astronauta.png" width="300" alt="Mond Digital" style="position: relative; width: 300px;">
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="ocean blue">
  		<div class="wave"></div>
  		<div class="wave"></div>
  	</div>
    <div id="particles-js" class="min-height"></div>
  </div>
