<div class="section padding-top-big pb-4 background-gradient-light-re" id="prices">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-wrap text-center mb-lg-5 pb-5">
					<div class="back-title strong">Precios</div>
					<h3 class="text-white">Tenemos el paquete<br>ídeal para ti.</h3>
				</div>
			</div>
			<div class="col-md-12">

            <div class="row">
              <div class="col-xl-3 col-sm-6">
                <div class="table-sale background-dark-blue-2">
                  <p class="text-center"><span>50% Off</span></p>
                  <div class="table-line mt-4 mb-4"></div>
                  <h4 class="text-center">1 coe</h4>
                  <p class="text-center">0.5 US dollars</p>
                  <div class="table-line mt-4 mb-4"></div>
                  <p class="text-center">Sold Out 2M Tokens</p>
                  <p class="text-center">March 20 - 31</p>
                  <a class="btn disabled mt-5" href="#" role="button"><span>Sold Out</span></a>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mt-4 mt-sm-0">
                <div class="table-sale background-color table-shadow">
                  <h4 class="text-center">now</h4>
                  <div class="table-line mt-4 mb-4"></div>
                  <h4 class="text-center">1 coe</h4>
                  <p class="text-center">0.65 US dollars</p>
                  <div class="table-line mt-4 mb-4"></div>
                  <p class="text-center">Available 8M Tokens</p>
                  <p class="text-center">April 1 - 15</p>
                  <a class="btn btn-primary table-ver mt-5 js-tilt" href="#" role="button" data-tilt-perspective="300" data-tilt-speed="700" data-tilt-max="24"><span>Buy 35% Off</span></a>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mt-4 mt-xl-0">
                <div class="table-sale background-dark-blue-2 future-price">
                  <p class="text-center"><span>25% Off</span></p>
                  <div class="table-line mt-4 mb-4"></div>
                  <h4 class="text-center">1 coe</h4>
                  <p class="text-center text-white">0.75 US dollars</p>
                  <div class="table-line mt-4 mb-4"></div>
                  <p class="text-center text-white">Available 6M Tokens</p>
                  <p class="text-center text-white">April 16 - 25</p>
                  <a class="btn disabled mt-5 background-dark-blue text-white" href="#" role="button"><span>25 days</span></a>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mt-4 mt-xl-0">
                <div class="table-sale background-dark-blue-2 future-price">
                  <p class="text-center"><span>10% Off</span></p>
                  <div class="table-line mt-4 mb-4"></div>
                  <h4 class="text-center">1 coe</h4>
                  <p class="text-center text-white">0.9 US dollars</p>
                  <div class="table-line mt-4 mb-4"></div>
                  <p class="text-center text-white">Available 4M Tokens</p>
                  <p class="text-center text-white">April 26 - May 10</p>
                  <a class="btn disabled mt-5 background-dark-blue text-white" href="#" role="button"><span>40 days</span></a>
                </div>
              </div>
            </div>
			</div>
		</div>
	</div>

</div>
