<div class="section padding-top-big background-gradient-light" id="what">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-wrap text-center">
					<div class="back-title strong">¿Qué hacemos?</div>
					<h3 class="text-white">Queremos ayudarte a despegar</h3>
				</div>
			</div>
			<div class="col-md-4" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.3s">
				<div class="concept-box">
					<img class="mb-4" src="assets/img/con-1.svg" alt="">
					<h5 class="text-white">Redes Sociales</h5>
					<p class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.5s">
				<div class="concept-box">
					<img class="mb-4" src="assets/img/con-2.svg" alt="">
					<h5 class="text-white">Páginas Web</h5>
					<p class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
			</div>
			<div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.7s">
				<div class="concept-box">
					<img class="mb-4" src="assets/img/con-3.svg" alt="">
					<h5 class="text-white">Diseños publicitarios</h5>
					<p class="text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
			</div>
			<div class="col-md-12 padding-top-bottom" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.3s">
				<div class="line-sep"></div>
			</div>
		</div>
	</div>
</div>
