<div class="position-relative section padding-top-big pb-4 background-gradient-light" id="who">
        <img class="shapecircle shapecircle1" src="assets/img/universe.png" alt="">
        <img class="shapecircle shapecircle2" src="assets/img/universe.png" alt="">
  <div class="container z-99">
    <div class="title-wrap text-center">
      <div class="back-title strong">¿Quiénes Somos?</div>
      <h3 class="text-white">Estamos aquí para hacer despegar tu marca</h3>
    </div>
    <div class="row">
      <div class="mt-lg-5 text-center col-md-12 align-self-center" data-scroll-reveal="enter left move 50px over 0.6s after 0.3s">
        <h5 class="m-md-5 text-center mt-lg-2 text-white">Somos un equipo listo para conquistar el espacio del marketing digital, diseño web y diseños publicitarios. Nuestro objetivo es que puedas darle a tu empresa o negocio el sello que necesita, desde una perspectiva profesional e intuitiva para el usuario o tu potencial cliente.</h5>
        <a class="btn btn-primary mt-4 mx-0 js-tilt" href="#idea" data-gal="m_PageScroll2id" data-ps2id-offset="68" role="button" data-tilt-perspective="300" data-tilt-speed="700" data-tilt-max="24"><span>Despegar</span></a>
      </div>
    </div>
  </div>
</div>
