<div class="section padding-top-big pb-4 background-gradient-light-re" id="who">
  <div class="container">
    <div class="title-wrap text-center">
      <div class="back-title strong">¿Quines Somos?</div>
      <h3 class="text-white">Estamos aquí para lo que necesites</h3>
    </div>
    <div class="row">
      <div class="col-md-6 align-self-center" data-scroll-reveal="enter left move 50px over 0.6s after 0.3s">
        <h4 class="text-white">Creating a win-win<br>for everyone</h4>
        <p class="lead text-grey">An exciting business opportunity should come with equally exciting rewards.</p>
        <p class="text-grey">Early adopters can earn up to a 200% bonus based on the final token value should we reach our 100 mil tokens hardcap during our planned token sale event.</p>
        <a class="btn btn-primary mt-4 mx-0 js-tilt" href="#roadmap" data-gal="m_PageScroll2id" data-ps2id-offset="68" role="button" data-tilt-perspective="300" data-tilt-speed="700" data-tilt-max="24"><span>Roadmap</span></a>
      </div>
      <div class="col-md-5 offset-md-1 order-first order-md-last mb-4 mb-md-0">
        <div class="img-wrap">
          <img src="assets/img/1.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-4"></div>
    </div>
  </div>
</div>
