<div class="section background-light-blue-1">
	<div class="section padding-top-big background-image-cover" style="background-image: url('img/background-footer.png');">
		<div class="container padding-bottom-big">
			<div class="row justify-content-between">
				<div class="col-lg-4">
					<h6 class="text-white mb-4">Stay tunned:</h6>
					<div class="suscribe form-on-blue">
						<input class="form-control text-left" placeholder="Enter your email" type="text" name="name" />
						<button type="submit" class="btn btn-primary m-0 js-tilt" data-tilt-perspective="300" data-tilt-speed="700" data-tilt-max="24"><span>subscribe</span></button>
					</div>
					<p class="text-left text-white mb-0"><small>* we promise that we won´t spam you, never.</small></p>
				</div>
				<div class="col-lg-5 mt-4">
					<ul class="footer-list">
						<li class="text-left"><a href="#">concept</a></li>
						<li class="text-left"><a href="#">roadmap</a></li>
						<li class="text-left"><a href="#">buy tokens</a></li>
						<li class="text-left"><a href="#">team</a></li>
						<li class="text-left"><a href="#">FAQ</a></li>
						<li class="text-left"><a href="#">download app</a></li>
						<li class="text-left"><a href="#">contact</a></li>
						<li class="text-left"><a href="#">news</a></li>
						<li class="text-left"><a href="#">overall output</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section py-4 background-dark-blue-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 footer text-center text-lg-left">
					<p>Copyright © 2018, Coeus. Template made by <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design">IG Design</a></p>
				</div>
				<div class="col-lg-6 footer mt-4 mr-auto mt-lg-0 mr-lg-0 text-center text-lg-right">
					<a class="app-btn mx-2 mr-lg-3" href="#"><i class="fa fa-twitter"></i></a>
					<a class="app-btn mx-2 mr-lg-3" href="#"><i class="fa fa-linkedin"></i></a>
					<a class="app-btn mx-2 mr-lg-3" href="#"><i class="fa fa-facebook"></i></a>
					<a class="app-btn mx-2 mr-lg-3" href="#"><i class="fa fa-git"></i></a>
					<a class="app-btn mx-2 mr-lg-3" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="app-btn mx-2 mr-lg-0" href="#"><i class="fa fa-paper-plane"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="scroll-to-top light">to top</div>
