<!-- page navigation and logo -->
<div id="menu-wrap" class="menu-back cbp-af-header dark">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light mx-lg-0">
					<a class="navbar-brand" href="index.html"><img src="assets/img/mond.png" width="180" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon">
							<span class="menu-icon__line menu-icon__line-left"></span>
							<span class="menu-icon__line"></span>
							<span class="menu-icon__line menu-icon__line-right"></span>
						</span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="" data-ps2id-offset="120">Inicio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#what">Que hacemos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#who">Quienes Somos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#idea">Tienes una idea</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#prices">Precios</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
